/* MAIN PAGE STYLES */

/*------ GLOBAL PAGE PROPERTIES ------*/
.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18pt;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/*------ MAIN TITLE PROPERTIES ------*/
.page-title-header {
    font-size: 100pt;
    font-weight: 900;
}

.page-tagline {
    font-size: 18pt;
}

.page-title-accent-divider {
    height: 1px;
    border-style: solid;
    border-color: var(--accentColor);
    border-width: 8px 0px 0px 0px;
    width: 23%;
    margin-top: 0px;
    margin-bottom: 20px;
}

/*------ PROJECTS SECTION PROPERTIES ------*/
.project-cards-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    gap: 20px;
}

.project-cards-grid > a{
    text-decoration: none;
}

.project-card-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%,  rgba(0, 0, 0, .0) 33%, rgba(0, 0, 0, 0.9) 100%);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 
}

.project-card-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.project-card-content {
    margin: 0px 20px 60px 20px;
}

.project-card-title {
    margin-bottom: 20px;
    color: white;
}

.project-date-container {
    display: flex;
    height: auto;
    align-items: center;
    gap: 10px;
}

.project-date-container > p {
    color: white;
}

.project-card-container:hover {
    height: 103%;
}

/*------ ABOUT SECTION PROPERTIES ------*/
.about-grid {
    display: grid;
    grid-template-columns: 4fr 0.5fr 1fr 0.5fr 1fr;
    gap: 10px;
}

.about-text-container {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    padding: 15px;
    margin-right: 20px;
}

.interest-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interest-text-container {
    display: flex;
    align-items: center;
}

.interest-svg-container > svg {
    border: solid;
    border-color: var(--accentColor);
    border-radius: 10px;
    border-width: 4px;
    padding: 10px;
}

/*------ SKILLS SECTION PROPERTIES ------*/
.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 15px;
}

.skill-set-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
}

.skill-set-title {
    margin-bottom: 10px;
}

.skills-masonry-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-start;
}

.skill-item {
    border-style: solid;
    border-color: var(--accentColor);
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

/*------ CONTACT SECTION PROPERTIES ------*/
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form-input {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--primaryTextColor);
    padding: 5px 10px;
    height: 20px;
    font-size: 12pt;
}

.contact-form-message-area{
    height: 120px;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea {
    resize: vertical;
}

/*-------------------- SMALL-DESKTOP/TABLET-LANDSCAPE BREAKPOINT --------------------*/
@media (max-width: 1200px) {
    /* Nothing currently implemented */
}

/*-------------------- TABLET-VERTICAL BREAKPOINT --------------------*/
@media (max-width: 992px) {

    /*------ MAIN TITLE PROPERTIES ------*/
    /* Decrease title header */
    .page-title-header {
        font-size: 80pt;
    }

    /*------ PROJECTS SECTION PROPERTIES ------*/
    /* Change project grid to single column */
    .project-cards-grid {
        grid-template-rows: 400px 400px 400px;
        grid-template-columns: 1fr;
        height: auto;
        gap: 20px;
    }

    /*------ ABOUT SECTION PROPERTIES ------*/
    /* Change about grid to 3x4 */
    .about-grid {
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
        grid-template-rows: 2fr 1fr 1fr
    }

    /* Change the about text container to span the first four columns.
       Eliminate the right side margin */
    .about-text-container{
        grid-column: span 4;
        grid-row: 1;
        margin-right: 0px;
    }

    /* Align the interest svg to right of cell */
    .interest-svg-container {
        justify-content: right;
    }

    /*------ SKILLS SECTION PROPERTIES ------*/

    /* Change the skills grid to 3x1 */
    .skills-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    /*------ CONTACT SECTION PROPERTIES ------*/

    /* Change the contact grid to be 1 column */
    .contact-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
}

/*-------------------- PHONE BREAKPOINT --------------------*/
@media (max-width: 575px) {

    /*------ GLOBAL PAGE PROPERTIES ------*/
    .section-heading {
        font-size: 14pt;
    }

    /*------ MAIN TITLE PROPERTIES ------*/
    /* Decrease title header and set a larger top margin*/
    .page-title-header {
        font-size: 50pt;
        margin-top: 40px;
    }

    /*------ ABOUT SECTION PROPERTIES ------*/
    /* Change about grid to 5x2 */
    .about-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 100px 100px 100px 100px;
    }

    /* Set the about text container to span the first two columns */
    .about-text-container {
        grid-column: span 2;
        grid-row: 1;
    }

    /* Align interest svg to right of cell */
    .interest-svg-container {
        justify-content: right;
    }

    /* Align interest text to left of cell */
    .interest-text-container {
        justify-content: start;
        text-align: left;
    }
}