/* GLOBAL STYLES */

/* IMPORT FONTS: Main font -> Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GLOBAL STYLE VARIABLES*/
:root
{
    /* Style Control Variables */
    --backgroundColor: rgb(255, 255, 255);
    --primaryTextColor: rgb(0, 0, 0);
    --secondaryTextColor: rgb(20, 20, 20);
    --iconColor: rgb(0, 0, 0);
    --accentColor: rgb(127, 255, 212);
    --accentHoverColor: rgb(25, 230, 161);
    --headerFooterColor: rgba(128, 128, 128, 0.2); 
    
    /* Theme Color Variables */
    --lightModeBackgroundColor: rgb(255, 255, 255);
    --darkModeBackgroundColor: rgb(20, 20, 20);
    --lightModePrimaryTextColor: rgb(0, 0, 0);
    --lightModeSecondaryTextColor: rgb(20, 20, 20);
    --darkModePrimaryTextColor: rgb(255, 255, 255);
    --darkModeSecondaryTextColor: rgb(235, 235, 235);
    --lightModeIconColor: rgb(0, 0, 0);
    --darkModeIconColor: rgb(255, 255, 255); 

    
    
    --primaryButtonHoverColor: rgb(25, 230, 161);
}

/* GLOBAL ELEMENT PROPERTIES */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: var(--primaryTextColor);
}

/* PAGE SETUP PROPERTIES */
body {
    background-color: var(--backgroundColor);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 1200px;
    margin-bottom: 40px;
}

/* GLOBAL HEADER PROPERTIES*/
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--headerFooterColor);
    height: fit-content;
    align-items: center;
    padding: 10px 20px;
}

.header-logo {
    height: 80px;
}

.header-btns-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header-btns-container > a {
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px;
}

.header-btns-container > a:hover {
    background-color: var(--accentColor);
    border-radius: 10px; 
}

#open-sidebar-btn {
    display: none;
}

/* SIDEBAR PROPERTIES */
#sidebar-container {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 999;
    width: 33%;
    padding: 30px 20px;
}

#sidebar-container > a {
    font-weight: 500; 
    text-decoration: none;
    color: black;
    font-size: 28px; 
    padding: 5px 10px;
}

#sidebar-container > a:hover {
    background-color: var(--accentColor);
    border-radius: 10px;
}

#close-sidebar-btn {
    margin-left: auto;
}
                    
#light-dark-mode-sidebar-btn {                    
    width: 140px;                    
}                    


/* GLOBAL FOOTER PROPERTIES */
footer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headerFooterColor);
    padding: 0px 20px;
    font-weight: bold; 
}

.social-icons-container {
    display: flex;
    gap: 10px;
}


/* CUSTOM CLASSES */
.anchor-btn-primary {
    color: black;
    background-color: var(--accentColor);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14pt;
    max-width: fit-content;
}

.anchor-btn-primary:hover {
    background-color: var(--primaryButtonHoverColor);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--accentColor);
    border-radius: 10px;
    padding: 0 0 0 0;
    font-weight: bold;
    max-width: fit-content;
}

.icon-btn {
    background-color: var(--accentColor);
    border-radius: 10px;
    border-style: none;
    min-height: 40px;
    min-width: 40px;
}


.icon-btn > img {
    height: 24px;
}

.icon-btn:hover {
    background-color: var(--primaryButtonHoverColor);
    cursor: pointer;
}

.primary-btn {
    color: black;
    background-color: var(--accentColor);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14pt;
    max-width: fit-content;
}

.theme-responsive-svg {
    fill: var(--iconColor);
}


/* SMALL-DESKTOP/TABLET-LANDSCAPE BREAKPOINT */
@media (max-width: 1200px) {

    /* Set sections to 90% width */
    section {
        width: 90%;
    }

    /* Enable side bar btn */
    #open-sidebar-btn {
        display: block;
    }

    /* Disable header nav btns */
    .header-btns-container > a {
        display: none;
    } 

    /* Disable header light/dark mode btn */
    #light-dark-mode-header-btn {
        display: none;
    }
}

/* TABLET-VERTICAL BREAKPOINT */
@media (max-width: 992px) {
    /* Nothing currently implemented */
}

/* PHONE BREAKPOINT */
@media (max-width: 575px) {

    /* Set side bar to take up entire width */
    #sidebar-container {
        width: 100%;
    }

    /* Set footer elements to stack */
    footer {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 10px;
    }
}